{% extends "layout.twig" %}

{% set title = gateway.name %}
{% block content %}

    <p>You can create an instance of this gateway using:</p>
    <pre>$gateway = GatewayFactory::create('{{ gateway.shortName }}');
$response = $gateway->initialize($params);</pre>

    <h3>Gateway Settings</h3>
    <p><span class="label label-info">Note</span> These settings will be stored in your session and used to create test purchases.</p>

    <form method="post" class="form-horizontal">

        {% for key, default in gateway.getDefaultParameters %}

            <div class="control-group">
                <label class="control-label" for="gateway_{{key}}">{{ key }}</label>
                <div class="controls">
                    <input type="text" name="gateway[{{key}}]" id="gateway_{{key}}" value="{{settings[key]}}" />
                </div>
            </div>

        {% endfor %}

        <div class="form-actions"><button type="submit" class="btn">Save</button></div>
    </form>

    <h3>Gateway Methods</h3>
    <p>Click on a method to generate a test request.</p>
    <ul>
        {% if gateway.supportsAuthorize() %}
            <li><a href="/gateways/{{gateway.shortName}}/authorize">authorize()</a></li>
        {% endif %}
        <li><a href="/gateways/{{gateway.shortName}}/purchase">purchase()</a></li>
        {% if gateway.supportsCapture() %}
            <li><a href="/gateways/{{gateway.shortName}}/capture">capture()</a></li>
        {% endif %}
        {% if gateway.supportsRefund() %}
            <li>refund()</li>
        {% endif %}
        {% if gateway.supportsVoid() %}
            <li>void()</li>
        {% endif %}
        {% if gateway.supportsCreateCard() %}
            <li><a href="/gateways/{{gateway.shortName}}/create-card">createCard()</a></li>
        {% endif %}
        {% if gateway.supportsUpdateCard() %}
            <li><a href="/gateways/{{gateway.shortName}}/update-card">updateCard()</a></li>
        {% endif %}
        {% if gateway.supportsDeleteCard() %}
            <li><a href="/gateways/{{gateway.shortName}}/delete-card">deleteCard()</a></li>
        {% endif %}
    </ul>

{% endblock %}
