{% extends "layout.twig" %}

{% set title = gateway.name~": Response" %}
{% block content %}

    {% if response.isSuccessful() %}
        <div class="alert alert-success">Congratulations, your request was successful!</div>
    {% elseif response.isRedirect() %}
        <div class="alert alert-info">Your request requires {{ response.redirectMethod }}
        redirect to an off-site payment page.</div>

        {% if response.redirectMethod == "GET" %}
            <p><a href="{{ response.redirectUrl }}" class="btn btn-success">Redirect Now</a></p>
        {% elseif response.redirectMethod == "POST" %}
            <form method="POST" action="{{ response.redirectUrl }}">
                <p>
                    {% for key, value in response.redirectData %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}" />
                    {% endfor %}

                    <button class="btn btn-success">Redirect Now</button>
                </p>
            </form>
        {% endif %}
    {% else %}
        <div class="alert alert-error">Sorry, your request failed.</div>
    {% endif %}

    <p>The response object had the following to say:</p>

    <p><b>$request->isSuccessful()</b></p>
    <pre>{{ response.isSuccessful() ? "true" : "false" }}</pre>

    <p><b>$request->isRedirect()</b></p>
    <pre>{{ response.isRedirect() ? "true" : "false" }}</pre>

    {% if response.redirectUrl is defined %}
        <p><b>$request->getRedirectUrl()</b></p>
        <pre>{{ response.redirectUrl }}</pre>
    {% endif %}

    {% if response.redirectMethod is defined %}
        <p><b>$request->getRedirectMethod()</b></p>
        <pre>{{ response.redirectMethod }}</pre>
    {% endif %}

    {% if response.redirectData is defined %}
        <p><b>$request->getRedirectData()</b></p>
        <pre>{{ dump(response.redirectData) }}</pre>
    {% endif %}

    <p><b>$request->getMessage()</b></p>
    <pre>{{ response.message }}</pre>

    <p><b>$request->getTransactionReference()</b></p>
    <pre>{{ response.transactionReference }}</pre>

    {% if response.cardReference is defined %}
        <p><b>$request->getCardReference()</b></p>
        <pre>{{ dump(response.cardReference) }}</pre>
    {% endif %}

    <p><b>$request->getData()</b></p>
    <pre>{{ dump(response.data) }}</pre>

{% endblock %}
